---
import type { HTMLAttributes } from "astro/types";
import { iconPaths } from "./IconPaths";

export interface Props {
  icon: keyof typeof iconPaths;
  title: string;
  link: string;
}

const { icon, title, link } = Astro.props;
const iconPath = iconPaths[icon];
---

<a
  href={link}
  target="_blank"
  class="hover:shadow-xl transition ease-in-out hover:-translate-y-2 inline-flex"
  aria-label="Twitter"
  title={title}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="28"
    height="28"
    viewBox="0 0 24 24"
    style="fill: currentColor;transform: ;msFilter:;"
    set:html={iconPath}
  />
</a>
